@keyframes logfilter {
    0%{
        filter: drop-shadow(-4px 0px 15px aqua) drop-shadow(4px 0px 15px aqua);
    }
}
@keyframes blr {
    to{
        backdrop-filter: blur(4px);
    }
}
@keyframes op {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes tra {
    from{
        transform: translateY(45%) scale(1.5);
    }
}
@keyframes op1 {
    from{
        opacity: 0;
    }
}
@keyframes nv {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
}
@keyframes helo {
    0%{
        content: ' مرحبا .';
    }
    25%{
        content: ' Hola .';
    }
    50%{
        content: ' Ciao .';
    }
    75%{
        content: ' Bonjour .'; 
    }
    100%{
        content: ' Hello .';
    }
}
@keyframes quot{
    0%{
        text-shadow: 2px 0px 1px aqua;
    }
    25%{
        text-shadow: -2px 0px 1px aqua;
    }
    50%{
        text-shadow: 2px 0px 1px aqua;
    }
    75%{
        text-shadow: 0px 0px 4px aqua;
    }
    100%{
        text-shadow: 0px 0px 4px aqua;
    }
}
@keyframes quob{
    0%{
        box-shadow: 2px 0px 2px aqua;
    }
    25%{
        box-shadow: -2px 0px 2px aqua;
    }
    50%{
        box-shadow: 2px 0px 2px aqua;
    }
    75%{
        box-shadow: 0px 0px 4px aqua;
    }
    100%{
        box-shadow: 0px 0px 4px aqua;
    }
}
@keyframes bg {
    from{
        filter: brightness(0.8) drop-shadow(0px 0px 40px white);
    }
}
*{
    padding: 0;
    margin: 0;
    z-index: 5;
}
*::selection{
    background-color: transparent;
}
body{
    height: 100vh;
    background-color: #030303;
}
main{
    width: 100%;
    height: 83%;
    display: flex;
    align-items: center;
    gap: 1vh;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
main::before{
    position: absolute;
    font-size: 42px;
    left: 0;
    content: '';
    font-weight: 900;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    animation:op 1s .8s backwards,op .5s 1.8s reverse forwards ,helo .8s 1s both;
}
main::-webkit-scrollbar{
    width: 0px;
}
.wel{
    color: white;      
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.wel img{
    width: 170px;
    filter: drop-shadow(-4px 0px 3px aqua) drop-shadow(4px 0px 3px aqua);
    animation: op 1s .8s backwards,logfilter 1s 1s ease-out backwards, tra 1s 1.5s backwards;
}
nav{
    width: 100%;
    height: 9%;
    position: fixed;
    display: flex;
    align-items:center;
    background-color: #32fdfd;
    justify-content: space-evenly;
    box-shadow: 0px 0px 40px black inset;
    animation: nv 1s 1s backwards ease-in;
}
.tell{
    width: 100%;
    height: 8%;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    animation: op 1s 2.5s both;
}
#quote{
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 2px aqua;
    cursor: pointer;
    font-size: 14px;
    animation: quot .6s 1s alternate infinite;
    position: relative;
}
#quote::after{
    position: absolute;
    content: '';
    left: -10px;
    height: 100%;
    box-shadow: 0px 0px 2px aqua;
    width: 2px;
    bottom: 0;
    background-color: white;
    transform: rotate(var(--rot1,30deg));
    animation: quob .6s 1s alternate infinite;
}
#quote::before{
    position: absolute;
    content: '';
    right: -10px;
    height: 100%;
    width: 2px;
    bottom: 0;
    background-color: white;
    box-shadow: 0px 0px 2px aqua;
    transform: rotate(var(--rot2,-30deg));
    animation: quob .6s 1s alternate infinite;
}
li{
    width: fit-content;
    list-style: none;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 25px;
    font-family:fantasy,'serif';
    color: white;
    text-shadow: 0px -2px 1px black,0px 2px 1px black,2px 0px 1px black,-3px 0px 1px black;
    transition: .3s;
}
li:hover,li:active{
    text-shadow: 0px -2px 1px black,0px 2px 1px black,2px 0px 1px black,-3px 0px 1px black, 0px 0px 20px black;
}
#plus{
    font-size: 22px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: solid aqua;
    border-radius: 12px;
    padding: 2px 12px;
    background-color: #00ffff67;
    backdrop-filter: blur(4px);
}
#plus:active,.inf:active,#ver:active,#ver:hover{
    background-color: #01555567;
}
header{
    height: 10%;
    width: 95%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    animation: op 1s 2.5s backwards;
}
h2,h3{
    color: white;
    font-family:'Gill Sans',sans-serif;
}
#templates{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 2vh;
    animation: op 1s 2s backwards;
}
.temp{
    width: 165px;
    height: 165px;
    border-radius: 10px;
    background-color: white;
    border: solid aqua 2px;
    background-color: #00ffff31;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    animation: op 1s;
    position: relative;
    backdrop-filter: blur(10px);
}
.tit{
    color: white;
    font-size: 26px;
    font-family: fantasy,'serif';
    letter-spacing: 2px;
}
.not{
    width: 80%;
    text-align: center;
    color: white;
}
.inf{
    padding: 4px 12px;
    font-size: 16px;
    position: absolute;
    border: solid aqua 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    top: 5px;
    right: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ffff67;
}
.ed{
    padding: 4px 12px;
    border: solid #007070 2px;
    width: fit-content;
    border-radius: 4px;
    display: flex;
    position: absolute;
    left: 5px;
    z-index: 10;
    top: 50px;
    flex-direction: column;
    gap: 4px;
    display: none;
    background-color: aqua;
}
.ed hr{
    height: 3px;
    background-color: white;
    border: solid black 1px;
    border-radius: 2px;
}
.ed div{
    cursor: pointer;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    width: 100%;
    letter-spacing: 1px;
    text-shadow: 0px -1px 1px black,0px 1px 1px black,1px 0px 1px black,-1px 0px 1px black;
    position: relative;
    text-align: center;
}
.adi{
    position: absolute;
    background-color: #000000a9;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    animation: op 1s,blr 1s .5s forwards;
}
#entete,.fil{
    width: 80%;
    height: fit-content;
    background-color: #123c97;
    padding-bottom: 10px;
    display: flex;
    border-radius: 25px;
    border: solid white;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}
.fil{
    width: 85%;
    display: none;
    z-index: 6;
    position: absolute;
    top: 1vh;
    gap: 10px;
    padding: 10px;
    background-color: #002629;
}
.fil section{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#galery{
    display: flex;
    border: solid white 1px;
    width: 100%;
    overflow-y: scroll;
    max-height: 35vh;
    flex-direction: column;
}
#galery::-webkit-scrollbar{
    width: 5px;
}
#galery::-webkit-scrollbar-thumb{
    background-color: #32fdfd;
    border-radius: 5px;
}
#galery section{
    width: 100%;
    cursor: pointer;
    display: flex;
    border-top: solid white 2px;
    transition: .4s;
}
#galery section:hover,#galery section:active{
    background-color: #007070;
}
#galery section:nth-child(1){
    border-top: none;
}
#galery p{
    width: calc(100% - 50px);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.eximg {
    width: 50px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}
#entete section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}
label{
    color: white;
    font-size: 20px;
}
input , textarea{
    background-color: #ffffff31;
    border: solid 1px;
    border-radius: 5px;
    width: 80%;
    height: 22px;
    color: white;
    outline: white;
    padding: 3px;
}
#entete img{
    width: 30%;
}
textarea::selection,input::selection{
    background-color: #030303;
}
input:autofill{
    background-color: #ffffff31;
    color: white;
}
textarea{
    height: 44px;
    font-size: 18px;
}
#cl{
    padding: 3px 8px;
    position: absolute;
    border: solid aqua 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ffff67;
}
#ver,.start,select{
    padding: 5px 14px;
    font-size: 20px;
    border: solid aqua 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ffff67;
}
.start{
    padding: 2px 4px;
    font-size: 14px;
}
textarea::placeholder,input::placeholder{
    color: white;
}
#bg{
    position: absolute;
    align-self: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: brightness(0.3);
    animation: op1 .3s .3s backwards,bg 1.5s .5s backwards;
}
option{
    background-color: #007070;
}
.lab{
    font-size: 22px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: solid aqua;
    border-radius: 5px;
    margin-top: 1vh;
    padding: 4px 12px;
    background-color: #028a8a67;
    backdrop-filter: blur(4px);
    transition: .4s;
}
.lab:active,.lab:hover{
    background-color: #003b3bbd;
}
@supports (-webkit-touch-callout: none) {
    /* iOS ONLY */
    *{
        font-family:'Gill Sans',sans-serif;
    }
}